:root {
  --prime-color: #16C79A;
  --link-text-color: #4F5051;
  --light-blue-color: #11698E;
  --dark-blue-color: #19456B;
  --background-color: #F4F7F8;
  --white-color: #ffffff;
}

h1, h2, h3, h4, h5, h6, p {
  color: var(--link-text-color);
}

.navbar {
    background: linear-gradient(90deg, var(--light-blue-color) 0%, var(--prime-color) 100%);    
    width: 100%;
    padding: 0;
    margin: 0;
    min-width: 100%;
    font-size: 14px;
}

.navbar .navbar-collapse {
  text-align: center;
}

.nav {
  font-size: 14px;
  align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.logo img {
    margin: 0;
    height: 30px;
}

.menu-link {
  display: block;
  align-items: center;
  color: var(--white-color);
  text-decoration: none;
  cursor: pointer;
  padding: 15px;
  margin: 0 10px;  
  position: relative;
  z-index: 1;
}

.active {
  font-weight: bold;
  color: var(--dark-blue-color);
}

.navbar ul {
  list-style: none;
  text-align: center;
}

.navbar ul li {
  display: inline-block;
}

.menu-link,
.menu-link:after,
.menu-link:before {
  transition: all .5s;
}

.menu-link:hover {
  color: var(--white-color);
}

.menu-link:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #48c6a6;
  visibility: none;
  opacity: 0;
  z-index: -1;
}

.menu-link:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
} 

.login-form,
.registration-form
 {
  background: linear-gradient(
    90deg,
    var(--light-blue-color) 0%,
    var(--prime-color) 100%
  );
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.login-form .card {
    border-radius: 20;
    filter: drop-shadow(0px 2px 3px);
    float: none;
    max-width: 60rem;
    padding: 50px;
}

.registration-form .card {
    border-radius: 20;
    filter: drop-shadow(0px 2px 3px);
    float: none;
    min-width: 60rem;
    padding: 30px;
}

.login-form .card img {
    height: 200px;
    margin-bottom: 30px;
}

.registration-form .card img {
  height: 100px;
  margin-bottom: 10px;
}

.login-form #login-btn,
.registration-form #register-btn {
    background-color: var(--prime-color);
    border: none;
}

.login-form #signup-btn,
.registration-form #login-btn {
    border: 2px solid var(--prime-color);
    color: var(--prime-color);
}

.login-form #signup-btn:hover,
.registration-form #login-btn:hover {
    background-color: var(--prime-color);
    color: white;
}

.login-form #just-looking {
    border: none;
    background: white;
    color: var(--dark-blue-color);
    font-weight: 500;
}

.login-form label,
.registration-form label {
    float: left;
    font-size: 16px;
}

.login-form input[type="email"],
.login-form input[type="text"],
.registration-form input[type="email"],
.registration-form input[type="text"],
select,
.login-form input[type="password"],
.registration-form input[type="password"],
.registration-form text-area {
    font-size: 14px;
}

.login-form input::-webkit-input-placeholder 
.registration-form input::-webkit-input-placeholder 
{
    font-size: 15px;
    line-height: 3;
}

.login-form .error-boarder,
.registration-form .error-boarder {
  border-color: red;
}

.reservation-buttons {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.divider {
  height: 10px;
  width: 150px;
  background: linear-gradient(
    90deg,
    var(--light-blue-color) 0%,
    var(--prime-color) 100%
  );
  margin: 16px auto;
}